<h1>Buscando <small>{{this.termino}}</small></h1>
<hr>
<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroes;let i=index">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h4 class="card-title">{{heroe.nombre}}</h4>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">Aparecio en {{heroe.aparicion}}</small></p>

      <!-- <button (click)="verHeroe(i)"

      type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button> -->
      <a [routerLink]="['/heroe',heroe.posicion]" class="btn btn-outline-primary btn-block">Ver más link</a>

    </div>
  </div>
</div>
