<div class="card animated fadeIn" >
    <img class="card-img-top img-fluid" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title"> {{heroe.nombre}}</h5>
      <p class="card-text"> {{heroe.bio}} </p>
      <p class="card-text"><small class="text-muted"> {{heroe.aparicion}} </small></p>
    
      <button (click) = "verHeroe()" 
      class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
      <!-- <button class="btn btn-outline-primary btn-block"
      [routerLink] = "['/heroe', idx]">
        Ver más...
      </button> -->
    </div>
  </div>